*.env
*.jpg
*.local
*.log
*.njsproj
*.ntvs*
*.png
*.sln
*.suo
*.sw?
.DS_Store
.idea
.serverless
.vscode/*
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
output.png
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*